body {
    font-family: Arial, Helvetica, sans-serif;
}
.smallspacer {
    height: 10px;
}
.ispcl-fitcontent {
    width: fit-content;
}
.ispcl-thinborder {
    border: 1px solid black;
}
.ispcl-active {
    border: 3px solid lime;
    margin-bottom: -3px;
}
.ispcl-leftpos {
    float: left;
    margin-right: 10px;
}
.ispcl-centerpos {
    margin: 0 auto;
}
.ispcl-rightpos {
    float: right;
    margin-left: 10px;
}